<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here is your Two Noun's Magazine</h1>
    <p>
      Hi, <%= @user.name %>. Please find the text from your magazine below. <br>
      <br>
      <a>Thanks for using Two Nouns!</a>

    </p>
    <p> <% @article_info.each do |article| %>
      <%= article.title %> <br>
      <%= article.url %> <br>
      <%= article.author %><br>
      <%= article.text %><br>
      <br>
      <% end %>


  </body>
</html>
