<link href="https://fonts.googleapis.com/css?family=Lato|Lobster+Two" rel="stylesheet">

<header>
  <div class="topnav">
    <% if current_user %>
      Welcome, <%= current_user.name %> | <%= link_to "Log Out", '/logout' %>
    <% else %>
      <%= link_to 'Log In', '/login' %> | <%= link_to 'Sign Up', '/signup' %>
    <% end %>

    <%= yield %>
  </div>
</header>
<body>

  <% if @my_magazines.length > 0 %>
    <h1> Manage your magazines. </h1>

    <a href="/article_list" id="getstarted">Make another magazine.</a>

    <div class="pagebody">
      <% @my_magazines.each do |mag| %> </p>
        <li>
          <a class="magtitle"> <strong> <%= mag.name %> </a> </strong> <br>
          <a> Created: <%= mag.created_at.strftime("%m/%d/%Y") %> </a> <br>
          <div id="threeicons">
            <%= form_tag('/generate_pdf', method: "get", id: "generate_pdf") do %>
              <input type="hidden" name="mag_id" value="<%= mag["id"] %>"/>
              <button class="buttonicon"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/464-200.png" height="20px" title="Download"><span class="tooltip">Download a PDF of your magazine</span></button>
            <% end %>

            <%= form_tag('/email_mag/' + mag["id"].to_s, method: "get", id: "email_magazine") do %>
              <input type="hidden" name="mag_id" value="<%= mag["id"] %>"/>
              <button class="buttonicon"><img src="http://freevector.co/wp-content/uploads/2013/11/69343-email-icon.png" height="20px" title="Email"><span class="tooltip">Email magazine to your account email address.</span></button>
            <% end %>

            <%= form_tag('/delete_mag/' + mag["id"].to_s, method: "delete", id: "delete_magazine") do %>
              <input type="hidden" name="mag_id" value="<%= mag["id"] %>"/>
              <button class="buttonicon"><img src="http://www.pvhc.net/img5/kwjcnwjzabdmfcvzkbzy.png" height="20px" title="Delete"><span class="tooltip">Delete magazine (forever)</span></button>
            <% end %>
          </div>
        </li>
      <% end %>

    <% else %>
      <h1> Manage your magazines.</h1>
      <a href="/article_list" id="getstarted">Make a magazine now.</a>
    <% end %>
  </div>

</body>
