<div> Article info: <br>
  URL: <%= @url %> <br>
  Title: <%= @title %> <br>
  Author: <%= @author %> <br>
  Source: <%= @source %> <br>
  Published: <%= @date %> <br>
  Text: <%= @text %> <br>
</div>
