<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% end %>

<%= yield %>


<body>

<h1> Here are your magazines, <%= current_user.name %>. </h1>

<a href="/article_list" id="getstarted">Make another magazine.</a>

<p> Here are your magazines: <% @my_magazines.each do |mag| %> </p>
  <li>
    <a> <%= mag.name %> </a> <br>
    <a> Created: <%= mag.created_at %> </a>
    <%= form_tag('/generate_pdf', method: "get", id: "generate_pdf") do %>
      <input type="hidden" name="mag_id" value="<%= mag["id"] %>"/>
    <%= submit_tag("Download #{mag.name}") %>
    <% end %>

    <%= form_tag('/delete_mag/' + mag["id"].to_s, method: "delete", id: "delete_magazine") do %>
      <input type="hidden" name="mag_id" value="<%= mag["id"] %>"/>
      <button> Delete <%= mag.name %> </button>
    <% end %>

  </li>
<% end %>








</body>
