
<body>

  <%= form_tag('/generate_pdf', method: "get", id: "generate_pdf") do %>
    <%= submit_tag("Download PDF Version") %>
  <% end %>

  <div> Article info: <br>
    <li> <a class = "articleInfo"> URL: </a> <%= @url %> </li>
    <li> <a class = "articleInfo"> Title: </a> <%= @title %> </li>
    <li> <a class = "articleInfo"> Author: </a> <%= @author %> </li>
    <li> <a class = "articleInfo">Source: </a>  <%= @source %> </li>
    <li> <a class = "articleInfo"> Published: </a> <%= @date %> </li>
    <li> <a class = "articleInfo">Text Preview: </a> <%= @text.first(200) %>... </li> 
  </div>



</body>
