<link href="https://fonts.googleapis.com/css?family=Lato|Lobster+Two" rel="stylesheet">

<h1>Sign Up for Two Nouns</h1>

<%= form_for :user, url: '/signup' do |f| %>

  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>

<p> Already have an account? <a href="/login" id="getstarted">Log in here</a>.</p>
