<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>

<body>
  <h1> Curate your content. </h1>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <p> Paste the link to an article that you you want to incluce in your magazine below.</p>
  <%= form_tag('/parse_article', method: "get", id: "parse_article") do %>
    <%= text_field_tag :search, params[:url_input], placeholder: "Paste link here...", :required => true, class: "textfield"%>
    <%= submit_tag("Add Another Article") %>
  <% end %>

  <div>
    <h3> Your Articles: </h3><br>
    <ul>
      <% @article_list.each do |article| %>
        <li>
            <strong><%= article.title %> </strong><br>
            <%= article.author %><br>
            <%= article.published %><br>
            <%= article.url %><br>
            <p>
              <%= form_tag('/delete/' + article["id"].to_s, method: "delete", id: "delete_article") do %>
              <input type="hidden" name="article_title" value="<%= article["title"] %>"/>
              <button> Remove Article </button>
              <% end %>
            </p>
        </li>
      <% end %>
    </ul>
  </div>

<a href="/publish" id="getstarted">Finalize</a>

</body>
