<link href="https://fonts.googleapis.com/css?family=Lato|Lobster+Two" rel="stylesheet">

<header>
  <div class="topnav">
    <% if current_user %>
      Welcome, <%= current_user.name %> | <%= link_to "Log Out", '/logout' %>
    <% else %>
      <%= link_to 'Log In', '/login' %> | <%= link_to 'Sign Up', '/signup' %>
    <% end %>

    <%= yield %>
  </div>
</header>

<body>
  <h1> Curate your content. </h1>

  <a href="/user" id="getstarted">Manage your magazines.</a>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <p> Paste the link to an article that you you want to incluce in your magazine below.</p>
  <%= form_tag('/parse_article', method: "get", id: "parse_article") do %>
    <%= text_field_tag :search, params[:url_input], placeholder: "Paste link here...", :required => true, class: "textfield"%>
    <%= submit_tag("Add Article") %>
  <% end %>

  <% if @article_list.length > 0 %>
    <div>
      <h3> Article List </h3><br>
      <ul>
        <% @article_list.each do |article| %>
          <li>
              <strong><a href=<%= article.url %> > <%= article.title %> </strong>
               <a>
                  <%= form_tag('/delete/' + article["id"].to_s, method: "delete", id: "delete_article") do %>
                  <input type="hidden" name="article_title" value="<%= article["title"] %>"/>
                  <button class="buttonicon"><img src="https://image.flaticon.com/icons/png/512/0/39.png" height="20px" title="Delete"></button>
                  <% end %>
                </a>
              </a>
              <br>
              Author: <%= article.author %><br>
              Character Count: <%= article.text.length %><br>
              <br>

          </li>
        <% end %>
      </ul>
    </div>

    <h3> Publish Your Magazine </h3><br>
    <%= form_tag('/save_magazine', method: "get", id: "save_magazine") do %>
      Magazine Name:     <%= text_field_tag :mag_name, params[:url_input], placeholder: "Name your magazine", :required => true, class: "textfield"%> <br>
      <br>
      <%= submit_tag("Publish") %>
    <% end %>


  <% end %>

</body>
