<link href="https://fonts.googleapis.com/css?family=Lato|Lobster+Two" rel="stylesheet">

<header>
  <div class="topnav">
    <% if current_user %>
      Welcome, <%= current_user.name %> | <%= link_to "Log Out", '/logout' %>
    <% else %>
      <%= link_to 'Log In', '/login' %> | <%= link_to 'Sign Up', '/signup' %>
    <% end %>

    <%= yield %>
  </div>
</header>

<body>
  <h1> Curate your content. </h1>

  <a href="/user" id="getstarted">Manage your magazines.</a>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <div class="articlebody">
    <h3> Article List </h3>

    <%= form_tag('/parse_article', method: "get", id: "parse_article") do %>
      <%= text_field_tag :search, params[:url_input], placeholder: "Paste URL here...", :required => true, class: "textfield"%>
      <%= submit_tag("Add Article") %>
    <% end %>

    <% if @article_list.length > 0 %>

      <div>
        <ul>
          <% @article_list.each do |article| %>
            <li>
                <strong><a href=<%= article.url %> > <%= article.title %> </strong> </a>
                <br>
                Author: <%= article.author %><br>
                Character Count: <%= article.text.length %><br>
                <br>
                 <a>
                    <%= form_tag('/delete/' + article["id"].to_s, method: "delete", id: "delete_article") do %>
                    <input type="hidden" name="article_title" value="<%= article["title"] %>"/>
                    <button class="buttonicon"><img src="https://image.flaticon.com/icons/png/512/0/39.png" height="20px" title="Delete"><span class="tooltip">Remove article</span></button>
                    <% end %>
                 </a>

            </li>
          <% end %>
        </ul>
      </div>

      <h3> Publish Your Magazine </h3>

      <% if flash[:name_warning] %>
        <div class="notice"><%= flash[:name_warning] %></div>
      <% end %>

      <%= form_tag('/save_magazine', method: "get", id: "save_magazine") do %>
        <%= text_field_tag :mag_name, params[:url_input], placeholder: "Name your magazine", :required => true, class: "textfield"%>
        <%= submit_tag("Publish Magazine") %>
      <% end %>


    <% end %>
  </div>

</body>
