<!-- <% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>

<body>

  <h1> Hmm... thanks for looking around. This isn't the right page for you. </h1>
  <a href="/" id="getstarted">Go Home</a>

</body> -->
