<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>

<body>
  <h1> Finalize your magazine. </h1>

  <a href="/article_list" id="getstarted">Edit Article List</a>

  <h3> Your magazine will include: </h3>

  <ul>
    <% @article_list.each do |article| %>
      <li>
          <strong><%= article.title %> </strong><br>
          Author: <%= article.author %><br>
          Published: <%= article.published[0..15] %><br>
          Character Count: <%= article.text.length %><br>
          <br>
      </li>
    <% end %>
  </ul>

  <%= form_tag('/save_magazine', method: "get", id: "save_magazine") do %>
    Magazine Name:     <%= text_field_tag :mag_name, params[:url_input], placeholder: "Name your magazine", :required => true, class: "textfield"%> <br>
    <br>
    <%= submit_tag("Save Your Magazine") %>
  <% end %>

</body>
